<div class="post {extra_classes}" id="post{post_id}">
    <div class="post-toolbar">
        </span><div class="profile-picture-container"><span class="profile-picture-helper"></span>{avatar}</div>
        <div class="post-details" onClick="Android.showProfile('{author_id}')">
            <div class="post-author">{author}</div>
            <div class="post-date">{posted_on}</div>
        </div>
        <div class="post-actions">
            {post_quick_actions}
        </div>
    </div>
    <ul class="post-overflow-icons" id="overflow{post_id}">
        {post_actions}
    </ul>
    <div class="post-content">
        {content}
        {extra_details}
    </div>
</div>
