<a class="post-action action-lg" material onClick="Android.quotePost({post_id})"><i class="fa fa-lg fa-commenting-o"></i></a>

<a class="post-action action-lg" material onClick="toggleQuoteStatus(this, {post_id})">
    <span class="fa-stack fa-lg">
        <i class="fa fa-comment-o fa-stack-1x"></i>
        <i class="fa fa-plus fa-sm fa-stack-1x"></i>
    </span>
</a>

<!-- Overflow button which triggers the dropdown -->
<a class="post-action" onclick="toggleOverflowMenu('overflow{post_id}')" material><i class="fa fa-ellipsis-v"></i></a>