
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.smileysView {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.redface-dark {
    background: #222222;
    color: #ffffff;
}

body.redface-night {
    background: #000000;
    color: #ffffff;
}

.post {
    word-wrap: break-word;
}

.post-toolbar {
    font-family: 'Roboto Light', sans-serif-light;
    background: #cfcece;
    color: #424242;
    height: 48px;
    box-sizing: border-box;
}

.redface-dark .post-toolbar {
    background: #404246;
    color: #c2c2c4;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #111111;
}

.redface-night .post-toolbar {
    background: #242428;
    color: #c2c2c4;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #111111;
}

.profile-picture-container {
    padding: 0px 4px 0px 8px;
    float: left;
    white-space: nowrap;
    height: 48px;
    box-sizing: border-box;
}

.profile-picture-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.profile-picture {
    max-height: 32px;
    max-width: 48px;
    vertical-align: middle;
}

.post-details {
    float: left;
    padding: 8px 4px 0px 4px;
}

.post-content {
    padding: 8px;
    font-size: 12px;
}

.font-small .post-content {
    font-size: 10px;
}

.font-big .post-content {
    font-size: 14px;
}

.font-huge .post-content {
    font-size: 16px;
}

.font-morehuge .post-content {
    font-size: 20px;
}

.font-reallyhuge .post-content {
    font-size: 24px;
}

.post-author {
    font-family: 'Roboto', sans-serif;
}

.post-date {
    font-size: 0.84em;
}

.post-content p {
    margin: 0 0 10px 0;
}

.post-actions {
    position: absolute;
    right: 0;
    z-index: 1000;

    overflow: none;
    height: 48px;
}

.post-action {
    width: 44px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 3px;
    padding-top: 16px;
}

.redface-dark .post-content a, .redface-night .post-content a {
    color: #76a2fb;
}

.redface-light .post-content a {
    color: #0D47A1;
}

img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*
* Citations
*/
.modern-quotes .post-content > .quote, .modern-quotes .post-content > .quote.blocked, .modern-quotes .post-content > .spoiler, .modern-quotes .post-content > .code {
    margin-left: -8px;
    margin-right: -8px;
}

.modern-quotes .quote, .modern-quotes .quote.blocked, .modern-quotes .spoiler, .modern-quotes .code {
    border-left: 6px solid #757575;
    background: #EBEBEB;
    min-height: 40px;
    padding-bottom: 2px;
    margin-left: 2px;
}

.old-quotes .quote, .old-quotes .quote.blocked, .old-quotes .spoiler, .old-quotes .code {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.quote hr, .quote.blocked hr {
    display: none;
}

.old-quotes .quote, .old-quotes .quote.blocked, .old-quotes .spoiler, .old-quotes .code {
    border: 1px solid #d4d4d4;
    background: #FAFAFA;
    min-height: 40px;
    width: 95%;
    margin: 10px auto 10px auto;
    padding: 0;
}

.quote br:nth-of-type(1), .quote.blocked br:nth-of-type(1), .quote br:nth-of-type(2),  .quote.blocked br:nth-of-type(2) {
    display: none;
}

.quote p, .spoiler p {
    padding: 4px 10px 4px 10px;
}

.redface-dark .quote, .redface-dark .quote.blocked, .redface-dark .spoiler, .redface-dark .code {
    background: #181820;
    color: #ffffff;
}

.redface-dark.old-quotes .quote, .redface-dark.old-quotes .quote.blocked, .redface-dark.old-quotes .spoiler, .redface-dark.old-quotes .code {
    border: 1px solid #3a3a41;
}

.redface-dark.modern-quotes .quote, .redface-dark.modern-quotes .quote.blocked, .redface-dark.modern-quotes .spoiler, .redface-dark.modern-quotes .code {
    border-left: 6px solid #3a3a41;
}

.redface-night .quote, .redface-night .quote.blocked, .redface-night .spoiler, .redface-night .code {
    background: #181820;
    color: #ffffff;
}

.redface-night.old-quotes .quote, .redface-night.old-quotes .quote.blocked, .redface-night.old-quotes .spoiler, .redface-night.old-quotes .code {
    border: 1px solid #3a3a41;
}

.redface-night.modern-quotes .quote, .redface-night.modern-quotes .quote.blocked, .redface-night.modern-quotes .spoiler, .redface-night.modern-quotes .code {
    border-left: 6px solid #4e4e56;
}

.quote b.s1, .quote.blocked b.s1, .spoiler b.s1Topic {
    display: block;
    font-size: 0.9em;
    color: #757575;
    margin-bottom: 8px;
    padding: 8px;
    background: #EBEBEB;
}

.redface-dark .quote b.s1, .redface-dark .quote.blocked b.s1, .redface-dark .spoiler b.s1Topic {
    background: #181820;
    color: #a8a8ac;
}

.redface-night .quote b.s1, .redface-night .quote.blocked b.s1, .redface-night .spoiler b.s1Topic {
    background: #181820;
    color: #a8a8ac;
}

.quote b.s1 a, .quote.blocked b.s1 a {
    text-decoration: none;
    color: #757575;
    font-weight: bold;
}


.smileys {
    display: -webkit-flex;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
}

.smiley {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    margin: 7px;
}

.smiley img {
    max-width: 90%;
    min-height: 50%;
}

.nosmiley {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}

.Topic.masque {
    visibility: hidden;
}

.extra-details-container {
    overflow: auto;
}

.extra-details {
    float: right;
}

.extra-details i {
    margin-right: 4px;
}

.extra-details .edited {
    font-style: italic;
    font-size: 10px;
}

/**
* Overflow icons
*/
.post-overflow-icons {
    overflow: none;
    list-style-type: none;
    background: #424242;
    color: #ffffff;
    height: 48px;
    margin: 0;
    padding-left: 10px;

    display: none;
}

.post-overflow-icons li {
    float: left;
    height: 48px;
}

.post-overflow-icons li a {
    width: 52px;
    height: 48px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-right: 3px;
    padding-top: 15px;
}

/**
* Moderation messages
*/

.post.moderation .post-toolbar {
    background: #B71C1C;
    border-top: 1px solid #C62828;
    border-bottom: 1px solid #C62828;
    color: #FFEBEE;
}

.post.moderation .post-content {
    background: #D32F2F;
    color: #ffffff;
}

.post.moderation .quote, .post.moderation .quote.blocked, .post.moderation .spoiler, .post.moderation .code {
    background: #C62828;
    color: #ffffff;
}

.post.moderation .quote b.s1, .post.moderation .quote.blocked b.s1, .post.moderation .spoiler b.s1Topic {
    background: #C62828;
    color: #ffffff;
}

/**
* Quoted messages (dark & night themes)
*/
.redface-dark div.post.quoted .post-toolbar, .redface-night div.post.quoted .post-toolbar {
    background: #795548;
    border-top: 1px solid #6D4C41;
    border-bottom: 1px solid #6D4C41;
    color: #FFEBEE;
}

.redface-dark div.post.quoted .post-content, .redface-night div.post.quoted .post-content {
    background: #4E342E;
    color: #ffffff;
}

.redface-dark div.post.quoted .quote, .redface-dark div.post.quoted .quote.blocked, .redface-dark div.post.quoted .spoiler, .redface-dark div.post.quoted .code, .redface-night div.post.quoted .quote, .redface-night div.post.quoted .quote.blocked, .redface-night div.post.quoted .spoiler, .redface-night div.post.quoted .code {
    background: #5D4037;
    color: #ffffff;
}

.redface-dark div.post.quoted .quote b.s1, .redface-dark div.post.quoted .quote.blocked b.s1, .redface-dark div.post.quoted .spoiler b.s1Topic, .redface-night div.post.quoted .quote b.s1, .redface-night div.post.quoted .quote.blocked b.s1, .redface-night div.post.quoted .spoiler b.s1Topic {
    background: #5D4037;
    color: #ffffff;
}

.redface-dark divdiv.post.quoted .quote b.s1 a, .redface-dark divdiv.post.quoted .quote.blocked b.s1 a, .redface-night divdiv.post.quoted .quote b.s1 a, .redface-night divdiv.post.quoted .quote.blocked b.s1 a {
    color: #EFEBE9;
}

.redface-dark div.post.quoted .post-action.action-selected, .redface-night div.post.quoted .post-action.action-selected {
    background: #6D4C41;
}

/**
* Quoted messages (light theme)
*/

.redface-light div.post.quoted .post-toolbar {
    background: #B39DDB;
    border-top: 1px solid #9575CD;
    border-bottom: 1px solid #9575CD;
    color: #424242;
}

.redface-light div.post.quoted .post-content {
    background: #EDE7F6;
    color: #000000;
}

.redface-light div.post.quoted .quote, .redface-light div.post.quoted .quote.blocked, .redface-light div.post.quoted .spoiler, .redface-light div.post.quoted .code {
    background: #e3daf1;
    color: #000000;
}

.redface-light div.post.quoted .quote b.s1, .redface-light div.post.quoted .quote.blocked b.s1, .redface-light div.post.quoted .spoiler b.s1Topic {
    background: #e3daf1;
    color: #000000;
}

.redface-light div.post.quoted .post-action.action-selected {
    background: #EDE7F6;
}

/**
* EgoQuote (dark & night themes)
*/
.redface-dark .post.egoQuote .post-toolbar, .redface-night .post.egoQuote .post-toolbar {
    background: #3346bb;
    border-top: 1px solid #303F9F;
    border-bottom: 1px solid #303F9F;
    color: #FFEBEE;
}

.redface-dark .post.egoQuote .post-content, .redface-night .post.egoQuote .post-content {
    background: #1A237E;
    color: #ffffff;
}

.redface-dark .post.egoQuote .quote, .redface-dark .post.egoQuote .quote.blocked, .redface-dark .post.egoQuote .spoiler, .redface-dark .post.egoQuote .code, .redface-night .post.egoQuote .quote, .redface-night .post.egoQuote .quote.blocked, .redface-night .post.egoQuote .spoiler, .redface-night .post.egoQuote .code {
    background: #283593;
    color: #ffffff;
}

.redface-dark .post.egoQuote .quote b.s1, .redface-dark .post.egoQuote .quote.blocked b.s1, .redface-dark .post.egoQuote .spoiler b.s1Topic, .redface-night .post.egoQuote .quote b.s1, .redface-night .post.egoQuote .quote.blocked b.s1, .redface-night .post.egoQuote .spoiler b.s1Topic {
    background: #283593;
    color: #ffffff;
}

.redface-dark .post.egoQuote .quote b.s1 a, .redface-dark .post.egoQuote .quote.blocked b.s1 a, .redface-night .post.egoQuote .quote b.s1 a, .redface-night .post.egoQuote .quote.blocked b.s1 a {
    color: #E8EAF6;
}

.redface-dark .post.egoQuote .post-action.action-selected, .redface-night .post.egoQuote .post-action.action-selected {
    background: #1A237E;
}


/**
* EgoQuote (light theme)
*/

.redface-light .post.egoQuote .post-toolbar {
    background: #42A5F5;
    border-top: 1px solid #42A5F5;
    border-bottom: 1px solid #42A5F5;
    color: #E3F2FD;
}

.redface-light .post.egoQuote .post-content {
    background: #E3F2FD;
    color: #000000;
}

.redface-light .post.egoQuote .quote, .redface-light .post.egoQuote .quote.blocked, .redface-light .post.egoQuote .spoiler, .redface-light .post.egoQuote .code {
    background: #e9f4fc;
    color: #000000;
}

.redface-light .post.egoQuote .quote b.s1, .redface-light .post.egoQuote .quote.blocked b.s1, .redface-light .post.egoQuote .spoiler b.s1Topic {
    background: #e9f4fc;
    color: #000000;
}

/**
* Code table
*/
.code {
    max-width: 95%;
    overflow: auto;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.code ol {
    list-style-position: inside;
    padding: 0px 4px 0px 4px;
    overflow: auto;
}

.code li {
    overflow: auto;
    word-wrap: break-word;
}

.post-action.action-lg {
    padding-top: 12px;
    height: 34px;
}

.post-actions .fa-stack {
    vertical-align: -50%;
}

.post-actions .fa-stack-1x {
    line-height: normal;
}

.post-actions .fa-sm {
    font-size: 0.5em;
    line-height: 1.9em;
}

.post-action.action-selected {
    background: #b3afaf;
}

.redface-dark .post-action.action-selected, .redface-night .post-action.action-selected {
    background: #27292b;
}

/*
* Blocked messages.
*/
.quote.blocked p {
    display: none;
}

.quote.hidden {
    display: none
}

.post.blocked .profile-picture-container, .post.blocked .post-content, .post.blocked .post-date, .post.blocked .post-actions, .post.blocked .post-overflow-icons {
    display: none
}

.post.hidden {
    display: none
}

.post.blocked .post-toolbar {
    background: #000000;
    color: #ffffff;
    height: 48px;
    box-sizing: border-box;
}

.redface-dark .post.blocked .post-toolbar {
    background: #D3D3D3;
    color: #000000;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #111111;
}

.redface-night .post.blocked .post-toolbar {
    background: #D3D3D3;
    color: #000000;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #111111;
}

/**
* Material design ripple effect
*/
[material] { position: relative; overflow: hidden;  text-align: center; border: none; background: none; }
[material][disabled] { background: rgb(234, 234, 234); }

[material][primary] { background: #cecece; width: 56px; height: 56px; -webkit-clip-path: circle(32px at 32px 32px); clip-path: circle(32px at 32px 32px); line-height: 32px; border-radius: 50%; font-size: 24px; }
[material][raised] { border-radius: 3px; }
[material][raised]:not([disabled]) { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
transition: .3s all ease-in-out; background: #dfdfdf;
}
[material][raised]:not([disabled]):hover,
[material][raised]:not([disabled]):active
{ box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22); }

[material][raised][colored] { color: #fff; background: #4285f4; }

[material][secondary] { background: #cecece; width: 40px; height: 40px; -webkit-clip-path: circle(40px at 20px 20px); clip-path: circle(40px at 20px 20px); line-height: 16px; border-radius: 50%; font-size: 18px; }
[material]:focus { outline: none; }

.ripple { display: block; position: absolute; background: rgba(0,0,0,.1); border-radius: 100%; -webkit-transform: scale(0); transform: scale(0); }
/*animation effect*/
.ripple.animate { -webkit-animation: ripple 0.65s linear; animation: ripple 0.65s linear; }

@-webkit-keyframes ripple {
	100% {opacity: 0; -webkit-transform: scale(2.5); transform: scale(2.5);}
}
@keyframes ripple { 100% {opacity: 0; -webkit-transform: scale(2.5); transform: scale(2.5);}
}
